<h3 class="center">Instructions</h3>
<ol>
  <li>The screen is divided into 2 parts. The loop detector on the left and the kinematic chain visualizer canvas on the right.</li>
  <li>To draw a node, click anywhere on the canvas.</li>
  <li>To draw an edge between two nodes, drag a line from one node to the other.</li>
  <li>To delete a node or an edge, double click on it.</li>
  <li>The loop detector shows all loops greater than size 4.</li>
  <li>Hover over the detected loops to see the loop in the graph.</li>
</ol>
